In [1]:
import risktools as rt

In [2]:
df = rt.data.open_data('crudeOil')

In [4]:
df['CanadaPrices'].head()

  Ticker        date    Value
0    AHS  2018-11-01 -48.5695
1    AHS  2018-10-01 -31.8708
2    AHS  2018-09-01 -32.6978
3    AHS  2018-08-01 -21.8058
4    AHS  2018-07-01 -19.8540

In [5]:
df['bpAssays']

,assay,Specification,Heavy.Naphtha1,Heavy.Naphtha2,Kero,Light.Gas.Oil,HeavyGasOil,Light.VGO,Heavy.VGO1,Heavy.VGO2,AtRes1,AtRes2,VacRes1,VacRes2,Light.Naphtha,Whole.crude
0,alaskan-north-slope,Start (C API),95.0000,149.0000,175.0000,232.0000,342.0000,369.0000,509.0000,550.0000,369.0000,509.0000,550.0000,585.0000,NaN,NaN
1,alaskan-north-slope,End (C API),149.0000,175.0000,232.0000,342.0000,369.0000,509.0000,550.0000,585.0000,NaN,NaN,NaN,NaN,95.0000,NaN
2,alaskan-north-slope,Yield on crude (perc wt),10.4000,4.2000,8.6000,17.5500,4.4000,20.0000,4.7500,3.5000,42.7000,22.7500,17.9500,14.4500,9.1000,100.0000
3,alaskan-north-slope,Yield on crude (perc vol),11.7000,4.6000,9.0000,17.3000,4.1500,18.3500,4.2500,3.0500,37.4000,19.0000,14.8000,11.7500,11.3000,100.0000
4,alaskan-north-slope,Density at 15C (kg/litre),0.7633,0.7829,0.8165,0.8695,0.9047,0.9316,0.9629,0.9863,0.9785,1.0239,1.0413,1.0556,0.6852,0.8602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,thunder-horse,Carbon Residue (percwt),NaN,NaN,NaN,NaN,NaN,0.0800,1.6600,3.9700,9.5800,18.1000,22.5000,27.0000,NaN,4.3000
34,thunder-horse,Asphaltenes (percwt),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7000,6.9000,8.7000,10.5000,NaN,1.7000
35,thunder-horse,Vanadium (ppm wt),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0000,51.0000,64.0000,79.0000,NaN,12.0000
36,thunder-horse,Nickel (ppm wt),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0000,56.0000,71.0000,87.0000,NaN,13.0000
37,thunder-horse,Iron (ppm wt),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0000,12.0000,16.0000,19.0000,NaN,3.0000